<div class="section">
  <div class="container">
    <div class="columns">
      <main class="column">

      <div class="title">{{title}}</div>

      <div class="columns">
        <div class="column is-half">
          <div class="columns">
            <div class="column is-two-thirds">
              <div class="field">
                <p class="control has-icons-right">
                <input class="input" type="text" placeholder="Search experts">
                <span class="icon is-small is-right">
                  <i class="fa fa-search"></i>
                </span>
                </p>
              </div>

              <label class="checkbox">
                <input type="checkbox" (onchange)="sortAlphabetically($event)"> Sort alphabetically
              </label>
            </div>
          </div>

          <!-- I will use a package for paging -->
          <app-pagination [maxSize]="5"></app-pagination>

          <div class="expert-item-container">
            <div *ngFor="let expert of experts | paginate:{ itemsPerPage: 7, currentPage: 2, totalItems: 70 }" class="box expert-item">
              <a [routerLink]="['/profile', expert.id]">
                <div class="columns">
                  <div class="column is-2">
                    <figure class="image is-64x64">
                      <!-- the avatar image should gunatse 64x64 -->
                      <img src="{{expert.avatar}}">
                    </figure>
                  </div>
                  <div class="column is-6 has-vertically-aligned-content">{{expert.name}}</div>
                  <div class="column is-4 has-vertically-aligned-content has-text-right">
                    <span class="expert-product-number">has <span class="tag is-danger">{{expert.product_count}}</span> products</span>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
              <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
              <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
          </nav>
        </div>
      </div>

      </main>
    </div>
  </div>
</div>

