<header class="hero is-light">
  <div class="hero-head">
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a class="navbar-item">
          <img src="images/bulma-logo.png" alt="Bulma logo">
        </a>
        <a class="navbar-item is-tab is-hidden-mobile">Experts</a>
        <a class="navbar-item is-tab is-hidden-mobile">Products</a>

        <button class="button navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </button>

      </div>

      <div class="navbar-menu navbar-end" id="navMenu">

        <a class="navbar-item is-tab is-hidden-tablet is-active">Home</a>
        <a class="navbar-item is-tab is-hidden-tablet">Experts</a>
        <a class="navbar-item is-tab is-hidden-tablet">Products</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <figure id="avatar" class="image is-32x32">
              <img src="images/avatar.jpg">
            </figure>
            Yudi
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item">
              <span class="icon is-small">
                <i class="fa fa-user-o"></i>
              </span>
              My Profile
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              <span class="icon is-small">
                <i class="fa fa-power-off"></i>
              </span>
              Sign Out
            </a>
          </div>
        </div>

      </div>
    </nav>
  </div>
</header>

